# Caddyfile for InvenTree Staging Instance

(log_common) {
	log {
		output file /var/log/caddy/{args[0]}.access.log
	}
}

(cors-headers) {
	header Allow GET,HEAD,OPTIONS
	header Access-Control-Allow-Origin *
	header Access-Control-Allow-Methods GET,HEAD,OPTIONS
	header Access-Control-Allow-Headers Authorization,Content-Type,User-Agent,traceparent

	@cors_preflight{args[0]} method OPTIONS

	handle @cors_preflight{args[0]} {
		respond "" 204
	}
}

:9090 {
	handle /api/system/health/* {
		reverse_proxy {$INVENTREE_SERVER:"http://inventree-staging-server:8000"}
	}

	handle {
		respond 404
	}
}

:80 {
	import log_common inventree_staging

	encode gzip

	request_body {
		max_size 100MB
	}

	handle_path /static/* {
		import cors-headers static

		root * /var/www/static
		file_server
	}

	handle_path /media/* {
		import cors-headers media

		root * /var/www/media
		file_server

		header Content-Disposition attachment

		forward_auth {$INVENTREE_SERVER:"http://inventree-staging-server:8000"} {
			uri /auth/
		}
	}

	reverse_proxy {$INVENTREE_SERVER:"http://inventree-staging-server:8000"} {
	}
}
